<p>Hola <%= @resource.email %>!</p>

<p>Hemos recibido una solicitud para cambiar tu contrase침a, para continuar pulsa sobre el link:</p>

<!-- <p><%= link_to 'Cambiar mi password', edit_password_path(@resource, :reset_password_token => @resource.reset_password_token) %></p>
 --><p><%= link_to 'Cambiar mi password', edit_password_url(@resource, reset_password_token: @token)%></p>
<!-- edit_password_url(@resource, :reset_password_token => @token) -->

<p>Si no has solicitado una restauraci칩n de contrase침a, por favor ignora este email.</p>

<p>Tu password no cambiar치 hasta que no accedas al link y crees uno nuevo.</p>
